.Shadow{
    box-shadow:2px 5px 12px #3B2E32;
}
.Scode-Yellow{
    font-weight: bold;
    background-color: #f6f6f6;
    margin: 20px 0;
    border-bottom: 0px solid yellow;
    padding: 5px 12px;
    border-left: 5px solid yellow;
    margin: 12px 0px;
    border-radius: 0rem;
    line-height: 3; 
}
.Scode-Black{
    box-sizing: inherit; 
    border-radius: 8px; 
    color: rgb(199, 199, 199); 
    overflow: hidden; 
    margin: 10px 0px; 
    padding: 15px 15px 15px 35px; 
    box-shadow: rgb(155, 170, 185) 6px 0px 12px -5px, rgba(177, 161, 207, 0) -6px 0px 12px -5px; 
    background-image: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%); 
    /*font-family: suxingme, &quot;Open Sans&quot;, Arial, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei&quot;, STHeiti, &quot;WenQuanYi Micro Hei&quot;, SimSun, sans-serif; */
    white-space: normal; 
    background-color: rgb(255, 255, 255);
    line-height: 2;
}
.Scode-Blue{
    box-sizing: inherit; 
    white-space: normal; 
    border-radius: 8px; 
    color: rgb(199, 199, 199); 
    overflow: hidden; 
    margin: 10px 0px; 
    padding: 15px 15px 15px 35px; 
    /*font-family: suxingme, &quot;Open Sans&quot;, Arial, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei&quot;, STHeiti, &quot;WenQuanYi Micro Hei&quot;, SimSun, sans-serif; */
    color: rgb(61, 70, 77); 
    margin: 12px 0px; 
    font-weight: bold;
    border-radius: 0rem; 
    background-color: rgb(246, 246, 246); 
    border-bottom: 0px solid rgb(65, 105, 225); 
    padding: 5px 12px; 
    border-left: 5px solid rgb(65, 105, 225); 
    white-space: normal;
    line-height: 3; 
    
}
.Scode-Red{
    font-weight: bold;
    background-color: #f6f6f6;
    margin: 20px 0;
    border-bottom: 0px solid red;
    padding: 5px 12px;
    border-left: 5px solid red;
    margin: 12px 0px;
    border-radius: 0rem;
    line-height: 3; 
}

.Scode-Pink {
    font-weight: bold;
    background-color: #f6f6f6;
    margin: 20px 0;
    border-bottom: 0px solid #FF1493;
    padding: 5px 12px;
    border-left: 5px solid #FF1493;
    border-radius: 0rem;
    margin: 12px 0px;
    line-height: 3; 
}

.Scode-zise{
    font-weight: bold;
    background-color: #f6f6f6;
    margin: 20px 0;
    border-bottom: 0px solid #4169E1;
    padding: 5px 12px;
    border-left: 5px solid #4169E1;
    margin: 12px 0px;
    border-radius: 0rem;
    line-height: 3; 
}

.Scode-Green{
    font-weight: bold;
    background-color: #f6f6f6;
    margin: 20px 0;
    border-bottom: 0px solid #3CB371;
    padding: 5px 12px;
    border-left: 5px solid #3CB371;
    margin: 12px 0px;
    border-radius: 0rem;
    line-height: 3; 
}

.Scode-Pink-Pro{
    font-weight: bold;
    background-color: #f6f6f6;
    margin: 20px 0;
    border-bottom: 0px solid #FFC0CB;
    padding: 5px 12px;
    border-left: 5px solid #FFC0CB;
    margin: 12px 0px;
    border-radius: 0rem;
    line-height: 3; 
}

.Scode-mhz,.Scode-xgh,.Scode-tkzj,.Scode-xyz,.Scode-gll ,.Scode-xty,.Scode-yyz,.Scode-szh,.Scode-wbk{

	border-radius: 8px;
}
/*迷幻紫*/
.Scode-mhz{
    color: #555555;
    overflow: hidden;
    margin: 10px 0;
    padding: 15px 15px 15px 35px;
    /*border-radius: 10px;*/
    box-shadow: 6px 0 12px -5px rgb(190, 196, 252), -6px 0 12px -5px rgb(189, 196, 252);
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg,#8EC5FC 0%,#E0C3FC 100%);
    background-image: -webkit-linear-gradient(62deg,#8EC5FC 0%,#E0C3FC 100%);
}
/*西瓜红*/
.Scode-xgh{
	    color: #555555;
    overflow: hidden;
    margin: 10px 0;
    padding: 15px 15px 15px 35px;
    /*border-radius: 10px;*/
    box-shadow: 6px 0 12px -5px rgb(255, 176, 172), -6px 0 12px -5px rgb(255, 161, 174);
    background-color: #ff9a8b66;
    background-image: linear-gradient(220deg,#FF9A8B 0%,#ff6a8838 55%,#FF99AC 100%);
    background-image: -webkit-linear-gradient(220deg,#ff9a8b7a 0%,#ff6a88ab 55%,#ff99ac82 100%);
}
/*华为P30 天空之境*/
.Scode-tkzj {
    color: #555555;
    overflow: hidden;
    margin: 10px 0;
    padding: 15px 15px 15px 35px;
    /*border-radius: 10px;*/
    box-shadow: 6px 0 12px -5px rgb(253, 223, 234), -6px 0 12px -5px rgb(215, 240, 243);
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg,#ffdee9c4 0%,#b5fffc8f 100%);
    background-image: -webkit-linear-gradient(0deg,#ffdee9c4 0%,#b5fffc8f 100%);
}
/*小宇宙*/
.Scode-xyz {
    color: #eeeeee;
    overflow: hidden;
    margin: 10px 0;
    padding: 15px 15px 15px 35px;
    /*border-radius: 10px;*/
    box-shadow: 6px 0 12px -5px rgb(12, 85, 141), -6px 0 12px -5px rgba(10, 58, 93, 0);
    background-image: radial-gradient( circle 263px at 100.2% 3%, rgba(12,85,141,1) 31.1%, rgba(205,181,93,1) 36.4%, rgba(244,102,90,1) 50.9%, rgba(199,206,187,1) 60.7%, rgba(249,140,69,1) 72.5%, rgba(12,73,116,1) 72.6% );
}
/*橄榄绿*/
.Scode-gll {
    color: #eeeeee;
    overflow: hidden;
    margin: 10px 0;
    padding: 15px 15px 15px 35px;
    /*border-radius: 10px;*/
    box-shadow: 6px 0 12px -5px rgb(68, 110, 92), -6px 0 12px -5px rgb(204, 212, 163);
    background-image: linear-gradient( 102deg, rgba(68,110,92,1) 17.4%, rgba(107,156,120,1) 49.3%, rgba(154,183,130,1) 83.4%, rgba(247,237,191,1) 110.3% );
}
/*小太阳*/
.Scode-xty {
    color: #ffffff;
    overflow: hidden;
    margin: 10px 0;
    padding: 15px 15px 15px 35px;
     /*border-radius: 10px; */
    box-shadow: 6px 0 12px -5px rgb(253, 223, 234), -6px 0 12px -5px rgb(215, 240, 243);
    background-image: radial-gradient( circle farthest-corner at -8.9% 51.2%, rgba(255,124,0,1) 0%, rgba(255,124,0,1) 15.9%, rgba(255,163,77,1) 15.9%, rgba(255,163,77,1) 24.4%, rgba(19,30,37,1) 24.5%, rgba(19,30,37,1) 66% );
}
/*优雅紫*/
.Scode-yyz {
	color: #ffffff;
    overflow: hidden;
    margin: 10px 0;
    padding: 15px 15px 15px 35px;
    /*border-radius: 10px;*/
    box-shadow: 6px 0 12px -5px rgb(175, 160, 208), -6px 0 12px -5px rgba(177, 161, 207, 0);
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(95,117,227,1) 0%, rgba(188,167,205,1) 90% );
}
/*深邃黑*/
.Scode-szh {
	color: #c7c7c7;
    overflow: hidden;
    margin: 10px 0;
    padding: 15px 15px 15px 35px;
    /*border-radius: 5px;*/
    box-shadow: 6px 0 12px -5px rgb(155, 170, 185), -6px 0 12px -5px rgba(177, 161, 207, 0);
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(0,0,0,1) 0%, rgba(64,64,64,1) 90.2% );
}
/*无边框*/
.Scode-wbk {
    color: #000000;
    overflow: hidden;
    margin: 10px 0;
    padding: 15px 15px 15px 35px;
}
.Scode-xyz a , .Scode-gll a{
	 color: #eeeeee;
}
.Scode-szh a{
	color: #c7c7c7;	
}
.Scode-xty a, .Scode-yyz a{
	color: #ffffff;
}
