#write h3, #write h4, #write h5, #write h6 {
    background: linear-gradient(to bottom,transparent 60%,rgba(189,202,219,.3) 0) no-repeat;
    width: auto;
    display: inline;
    color: #666;
    line-height: 1.4;
    margin: 30px 0 10px 0;
}


/* 表格类 */

table{
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    border-radius: 5px;
    font-size: 14px;
}

table{
    border: 0;
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
}

table th, table td{
    padding: .75em;
    text-align: left;
    vertical-align: top;
}

table > thead > tr{ border-bottom: 2px solid #ccc }
table > tbody > tr{ border-bottom: 1px solid #ddd }
table > tbody > tr:last-child{ border-bottom: 0 }

table > tbody > tr{
    transition: background .3s;
}

table > tbody > tr:hover{
    background: #eee;
}

table > thead > tr > th, table > tbody > tr > th, table > tfoot > tr > th,
table > thead > tr > td, table > tbody > tr > td, table > tfoot > tr > td{
    white-space: nowrap;
}